.navigation {
  width: 100%;
  height: 50px;
  background-color: lightblue; 
}
  
 hi {
    text-align: center;
    font-size: 400%;
  }
    
body {
      
      background: 
      url(https://www.uncf.org/i/local_offices/VJP_4376_Detroit_Nighttime_Skyline_Vito_Palmisano_high.jpg);
      background-size:cover;
      
    }